.relatedproduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  box-sizing: border-box;
  height: 90vh;
}

.relatedproduct h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}

.relatedproduct hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}

.relatedproducts-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* 4 equal-width columns */
  margin: 20px;

  gap: 30px; /* Add space between grid items */
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.relatedproducts-item > * {
  /* Ensure content inside grid items doesn't overflow */
  max-width: 100%; /* Prevent items from exceeding their grid cell width */
}

/* --- MEDIA QUERIES --- */

@media (max-width: 1280px) {
  .relatedproduct h1 {
      font-size: 40px;
  }

  .relatedproduct hr {
      width: 160px;
      height: 4px;
  }

  .relatedproducts-item {
      gap: 20px;
  }
}

@media (max-width: 1024px) {
  .relatedproduct h1 {
      font-size: 30px;
  }

  .relatedproduct hr {
      width: 120px;
      height: 3px;
  }

  .relatedproducts-item {
      gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}

@media (max-width: 800px) {
  .relatedproduct h1 {
      font-size: 24px;
  }

  .relatedproduct hr {
      width: 100px;
  }

  .relatedproducts-item {
      gap: 15px;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}

@media (max-width: 500px) {
  .relatedproduct {
    padding: 20px 10px;
    gap: 16px;
  }

  .relatedproduct h1 {
    font-size: 22px;
    text-align: center;
    margin: 0;
  }

  .relatedproduct hr {
    width: 120px;
    height: 3px;
  }

  .relatedproducts-item {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 15px;
    padding: 10px;
    margin-bottom: 50px;
  }
}
